/* *{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: blueviolet;
}
.form{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  
}
form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 20px;
  height: 18rem;
  width: 20rem;
  background-color: #212121;
  color: azure;
  border-radius: 10px;
}
input{
  outline: none;
  height: 35px;
  padding: 5px;
  border-radius: 6px;
}
textarea{
  outline: none;
  padding: 5px;
  border-radius: 6px;
}
.btn{
  height: 30px;
  width: 70px;
  background-color: red;
  border: none;
  border-radius: 6px;
}
h1{
  padding-left: 40px;
}

 .all-card{
  height: 150px;
  width: 200px;
  border: 2px solid red;
  padding: 30px;
  position: relative;
  left: 20px;
 }
 .completed{
  position: relative;
  bottom: 14px;
 }
 
.note-deatail{
display: flex;

align-items: center;
} */

/* src/App.css */
.App {
  text-align: center;
}

.product {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px;
  display: inline-block;
  width: 200px;
  text-align: left;
}

.product img {
  width: 100%;
  height: 50vh;
}

.product h2 {
  font-size: 1.2em;
}

.product p {
  font-size: 1em;
  color: #888;
}
